.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.form-group {
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  background: linear-gradient(to right, #89a535, #889661, #8ba04d) !important;
  color: #0c0911 !important;
  margin-top: 16px;
}
button:disabled {
    opacity: 0.5; 
    cursor: not-allowed;
  }
