.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  background: linear-gradient(to right, #49b675bb, #668070, #88978d) !important;
  color: #0c0911 !important;
  font-size: 1rem !important;
  margin-top: 10px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
