<div class="container">
  <h2>Crear Nueva Finca</h2>

  <form [formGroup]="fincaForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-group">
      <div class="form-group">
        <label for="capacidad">Capacidad:</label>
        <input
          type="text"
          id="capacidad"
          formControlName="capacidad"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input
          type="text"
          id="direccion"
          formControlName="direccion"
          class="form-control"
        />
      </div>
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea
        id="descripcion"
        formControlName="descripcion"
        class="form-control"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Crear Finca</button>
  </form>
</div>
