mat-sidenav-container{
  background: linear-gradient(to right, #181218, #2a3342, #1a1a2e);
  margin: 0;
  height: 100vh;
  display: flex;
}
mat-sidenav-content {
  background: linear-gradient(to right, #181218, #2a3342, #1a1a2e);
  margin: 0; 
}
mat-sidenav-container {
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.content {
  width: 20%; 
  max-width: 400px;
  height: calc(40vh); 
  border-radius: 10px;
  margin: 16px auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem; 
  color: lightgray;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: 25P´X;
  margin-top: 30px; /* Ajusta el valor según tus necesidades */
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 16px; /* Ajusta el valor según tus necesidades */
}
.login-button {
  background: linear-gradient(to right, #302430, #3a465c, #2d2d50) !important;
  color: #6f41c4 !important;
  font-size: 1rem !important;
}





.logo {
  margin-left: 25%; 
}

.mt-5 {
  margin-top: 50px; 
}
