<div class="login-page">
    <div class="form">
      <form  (ngSubmit)="sendLogin()" [formGroup]="formLogin"   class="login-form">
        <input formControlName="email" type="text" placeholder="Ingresa tu correo"/>
        <input formControlName="password"type="password" placeholder="Ingresa tu constraseña"/>
        <button > Iniciar sesión</button>
        <p class="mesage"> Registrate <a href="#">aquí</a></p>
      </form>
    </div>
    <div *ngIf="errorSession">
          Ocurrio un error con tu email o password
    </div>
    <div>
      <hr>Valido{{formLogin.valid}}
    </div>
  </div>