mat-sidenav-container {
  border-radius: 3%;
  background: linear-gradient(to right,#9cb15f, #a7b874, #6c774d);
}
.nosotros-container {
  height: calc(100vh - 100px);
  margin-left: 20px;
  margin-top: 20px;
}

.intro-section,
.mission-section {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}
.mission-section {
  margin-top: 20px; /* Ajusta según sea necesario */
}

.social-icon {
  display: inline-block;
  margin-right: 15px; 
  font-size: 24px; 
  color: white; 
}
