<mat-sidenav-container class="example-container">
  <mat-sidenav-content class="content mat-elevation-z8">
    <div class="scroll-container nosotros-container">
      <section class="intro-section">
        <h2>Bienvenidos a Nuestra Empresa</h2>
        <p>Somos una empresa dedicada a ofrecer experiencias únicas y memorables en hermosas fincas de todo Colombia.</p>
      </section>

      <section class="mission-section">
        <h2>Nuestra Misión</h2>
        <p>Facilitar momentos inolvidables al conectar a las personas con increíbles espacios naturales, creando experiencias que perduran en el tiempo.</p>
      </section>

      <section class="mission-section">
        <h2>Nuestra Visíon</h2>
        <p>Convertirnos en la plataforma líder en la reserva de fincas, proporcionando opciones exclusivas para todo tipo de eventos y escapadas en Colombia.</p>
      </section>

      <section class="mission-section">
        <h2>Nuestro compromiso con los clientes</h2>
        <p>Estamos comprometidos a brindar un servicio excepcional, superando las expectativas de nuestros clientes en cada reserva. Su satisfacción es nuestra prioridad.</p>
                <p>Nos dedicamos a curar una colección diversa de fincas excepcionales, asegurando que cada cliente encuentre el lugar perfecto para su ocasión especial o vacaciones familiares.</p>

      </section>

      <section class="mission-section">
  <h2>Nos puedes contactar a través de : </h2>
  <p>
    <a href="#" target="_blank" rel="noopener noreferrer" class="social-icon">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer" class="social-icon">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer" class="social-icon">
      <i class="fab fa-tiktok"></i>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer" class="social-icon">
      <i class="fab fa-youtube"></i>
    </a>
  </p>
</section>


      

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
